*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL TAGS */
ul{
    list-style-type: none;
}

.margin-small{
    margin-bottom: 1em;
}

/* HEADER */
header{
    position: fixed;
    width: 60px;
    height: 80vh;
    padding-top: 1em;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header>*{
    width: 30px;
    margin-bottom: 1em;
}
.playlist{
    display: none;
}
.header-bottom{
    justify-self: end;
}

/* MAIN */
main{
    margin-left: 60px;
}
.banner-upgrade{
    height: 80px;
    background-color: rgb(8, 11, 18);
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
}