*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*! GENERAL TAGS */
ul{
    list-style-type: none;
}
body{
    font-family: 'Monserrat', sans-serif;
}
.margin-small{
    margin-bottom: 1em;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.section-title{
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    margin-bottom: .5em;
}
.section-subtitle{
    font-size: .8em;
    color: rgb(126, 128, 133);
    margin-bottom: 1.3em;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.popular>.row{
    margin-bottom: 4em;
}
/*! HEADER */
header{
    position: fixed;
    width: 60px;
    height: calc(100% - 60px);
    padding: 1em;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header>*{
    width: 25px;
    margin-bottom: 1em;
    margin-left: .2em;
}

.header-nav>ul>li:first-child>img:last-child{
    display: none;
}
.header-nav>ul>li>span{
    color: rgb(126, 128, 133);
    font-size: .6em;
    margin-left: .5em;
    display: none;
}
.header-nav>ul>li:first-child{
    margin-bottom: 1em;
}

.playlist{
    width: 130px;
    display: none;
    color: rgb(126, 128, 133);
    position: relative;
    bottom: 50px;
}

.playlist-nav>ul>li{
    margin-bottom: .5em;
    font-size: .7em;

}

.playlist p{
    margin-bottom: .5em;
}
.create-playlist{
    font-size: .9em;
}
.playlist>p:first-child{
    font-size: .8em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.playlist>p:nth-of-type(2)>i{
    padding: .5em;
    border: none;
    background-color:rgb(126, 128, 133);
    color: black;
    margin-right: .4em;
    font-weight: bold;
}

.header-bottom{
    width: 130px;
}
.header-bottom>div{
    display: flex;
    align-items: center;
    width: 100%
}
.header-bottom span{
    font-size: .8em;
    display: none;
}
.header-bottom>hr{
    margin: .5em 0;
}
.install>img{
    width: 20px;
    margin-right: 1em;
}
.install>span{
    color: rgb(126, 128, 133);
    font-weight: bold;
}
.header-bottom hr{
    width: 20%;
}
.user>img{
    width: 25px;
    margin-right: 1em;
    background-color: rgb(126, 128, 133);
    border-radius: 50%;
}
.user>span{
    font-weight: bold;
}
/*! MAIN */
main{
    width: calc(100% - 60px);
    margin-left: 60px;
    background-color: rgb(20, 24, 33);
    overflow: auto;
}

.banner-upgrade{
    height: 80px;
    background-color: rgb(8, 11, 18);
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.upgrade-btn{
    color: white;
    background-color: rgb(8, 11, 18);
    padding: .8em 2.5em;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .6em;
}
.main-nav{
    margin: 1em 0;
}
.main-nav>ul{
    display: flex;
    justify-content: center;
    gap: 1.3em;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.main-nav>ul>li{
    font-size: .7em;
    color: rgb(126, 128, 133);
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid green;
    margin-bottom: 1em;
}
.recently-played{
    width: 100%;
}
.row>article{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}
.article-img>img{
    width: 80%;
}
.img-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-info>.article-title{
    color: white;
    font-weight: bold;
    margin-bottom: .5em;
}
.img-info>.article-subtitle{
    color: rgb(126, 128, 133);
    font-weight: bold;
    font-size: .7em;
}


/*! FOOTER */
footer{
    height: 60px;
    width: 100vw;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2em 1em;
    position: fixed;
    bottom: 0; 
} 
footer i{
    font-size: 10px;
}

.song-info,
.song-player,
.options{
    display: flex;
    width: calc((100% / 3) - 20px);
}

.song-info{
    
}
.album-cover{
    margin-right: 1em;
}
.album-cover>img{
    width: 30px;
}
.song-title{
margin-right: 1em;
}
.song-title>p{
    font-size: 70%;
    color: rgb(126, 128, 133);
}

.song-title>p:first-of-type{
    color: white;
    font-weight: bold;
}
.song-actions{
    display: flex;
    flex-direction: column;
}

.song-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.actions{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.playbar{
    display: flex;
    align-items: center;
    font-size: 8px;
    width: 100%;
}

.playbar-total{
    border: 1px solid magenta;
    height: 5px;
    width: 100%;
    border-radius: 5px;
}

.playbar-listened{
    border: 1px solid green;
    background-color: red; 
    width: 80%;
    height: 5px;
    border-radius: 5px;
}

.options{
    justify-content: center;
    align-items: center;
}

.options>nav>ul{
    display: flex;
    gap: .5em;
    margin-right: .3em;
}
.volume-bar{
    width: 100%;
}
.volume-total{
    border: 1px solid magenta;
    width: 80%;
    height: 3px;
    border-radius: 5px;
}
.volume-selected{
    background-color: red;
    width: 20%;
    height: 3px;
    border-radius: 5px;
}


/* ! MEDIA QUERIES */

/* S size - 576px */
@media screen and (min-width: 576px){
    header{
        width: 200px;
    }
    .header-nav>ul>li:first-child{
        width: 100px;
    }
    .header-nav>ul>li:first-child>img:last-child{
        display: block;
    }

    .header-nav>ul>li:first-child>img:first-child{
        display: none;
    }

    .header-nav>ul>li{
        display: flex;
        margin-bottom: .5em;
        align-items: center;
    }
    
    .header-nav>ul>li>span{
        display: inline-block;
        color: rgb(126, 128, 133);
        font-size: .8em;
    }
    .header-bottom span{
        display: inline;
    }
    .header-bottom hr{
        width: 100%;
    }
    .row{
        display: flex;
        justify-content: space-between;
    }

    .row>article{
        width: 50%;
    }

    main{
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    .playlist{
        display: block;
    }
}

/* MD size - 768px */
@media screen and (min-width: 768px){
    .row{
        display: flex;
        justify-content: start;
    }
    .row>article{
        width: 25%;
    }

}

/* LG size - 992px */
@media screen and (min-width: 992px){
    .row{
        gap: .5em;
    }
    .row>article{
        width: 15%;
    }
    .img-info>.article-title{
        font-size: .8em;
    }
    .img-info>.article-subtitle{
        font-size: .6em;
    }
}